@use '@angular/material' as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes.
// For each palette, you can optionally specify a default, lighter, and darker
// hue.
$neo-skins-primary: mat.m2-define-palette(mat.$m2-blue-palette, 500, 100, 700);
$neo-skins-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$neo-skins-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object (a Sass map containing color and typography options).
$neo-skins-light-theme: mat.m2-define-light-theme((
  color: (
    primary: $neo-skins-primary,
    accent: $neo-skins-accent,
    warn: $neo-skins-warn,
  )
));

$neo-skins-dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $neo-skins-primary,
    accent: $neo-skins-accent,
    warn: $neo-skins-warn,
  )
));

// Apply the light theme by default.
@include mat.all-component-themes($neo-skins-light-theme);

// Apply the dark theme when the .theme-dark class is present on the body.
.theme-dark {
  @include mat.all-component-colors($neo-skins-dark-theme);
}
