<ng-container *ngIf="skin; else loader">
  <div class="skin-card">
    <div class="skin-image-container">
      <img class="skin-image" [src]="skin.imagem" [alt]="skin.name">
      <span *ngIf="skin.stattrak" class="stattrak-tag">StatTrak™</span>
    </div>
    <div class="skin-info">
      <p class="skin-name">{{ skin.name }}</p>
      <div class="price-container">
        <div class="price-info">
          <span class="new-price" *ngIf="skin.price; else notForSale">{{ skin.price | currency:'BRL':'symbol':'1.2-2' }}</span>
          <ng-template #notForSale>
            <span class="new-price unavailable">Indisponível</span>
          </ng-template>
        </div>
      </div>
      <div class="wear-info">
        <div class="wear-bar-container" *ngIf="skin.float">
          <div class="wear-bar"></div>
          <div class="wear-indicator" [ngStyle]="floatIndicatorStyle"></div>
        </div>
        <span class="skin-rarity">{{ skin.condicao }}</span>
      </div>
    </div>
    <button class="buy-button" [disabled]="!skin.a_venda">COMPRAR</button>
  </div>
</ng-container>

<ng-template #loader>
  <div class="skin-card skin-card-skeleton">
    <div class="skeleton skeleton-image"></div>
    <div class="skin-info">
      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text short"></div>
      <div class="skeleton skeleton-price"></div>
      <div class="skeleton skeleton-rarity"></div>
      <div class="skeleton skeleton-button"></div>
    </div>
  </div>
</ng-template>