<div class="skin-card">
  <div class="card-header">
    <span class="tradeable">
      <img src="/assets/icons/lock-green.svg" alt="Trocável" class="icon"> Trocável
    </span>
    <img src="/assets/icons/stattrak.svg" alt="Brand" class="brand-icon">
  </div>
  <div class="skin-image-container">
    <img class="skin-image" src="https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgpou-6kejhz2v_Nfz5H_uO3mb-Gw_alIITTmn5U-8h-gez--YXygED68hdkMm_1IoCcI1A_aQ6E81nvk-nogcO_tZ-cwHdjuHEqt3vYzRSziQYMMLLcIJ2naA" alt="Desert Eagle Feneco">
  </div>
  <div class="skin-info">
    <p class="skin-name">Desert Eagle <br> Feneco</p>
    <div class="price-container">
        <div class="price-info">
            <span class="old-price">R$ 2.330,00</span>
            <span class="new-price">R$ 1.806,00</span>
        </div>
        <div class="tags">
            <span class="souvenir">Lembrança</span>
            <span class="discount">-22%</span>
        </div>
    </div>
    <div class="wear-info">
      <span class="wear-value">MW / 0.086</span>
      <div class="wear-bar-container">
        <div class="wear-bar"></div>
        <div class="wear-indicator" style="left: 12%;"></div>
      </div>
    </div>
  </div>
</div>